<!DOCTYPE html>
<html>
<head>
  <title>ExecutiveDashboards</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
  
</head>
<body>
	
	
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Alternate Screens</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class=""><%= link_to "First", controller: "home", action: "index" %></li>
              <li><%= link_to "Second", controller: "home", action: "page2" %></li>
              <li><%= link_to "Third", controller: "home", action: "page3" %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
	
	
	
	
	<div id="main" class="container">	
		
				
		<div id="nav_container">
			<ul id="sub_nav">
				<li><a href="#">Home</a></li>
				<li><a href="#">Site Map</a></li>
				<li><a href="#">Job Search</a></li>
				<li><a href="#">Preferences</a></li>
				<li><a href="#">Help</a></li>
				<li><a href="#">Logout</a></li>
				
			</ul>
		</div>
		
		<div id="logo"></div>
		<img class="logo_image" src="/assets/workcenters_new_logo_small.png">
		
		<%= yield %>
	</div>


</body>
</html>
